/* Estilos para o menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1b79da, #ca94c0);
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #004ba1;
}

/* Estilo para destacar o link ativo */
li.active a {
    background-color: #004ba1;
    /* Cor de destaque para o link ativo */
}
